<div>
    <h2 mat-dialog-title>Update Student</h2>
    <mat-dialog-content class="mat-typography">
        <br>    
        <select (change)="getSelectedPolicy($event)">
            <option *ngFor="let insurancePolicyNo of insurancePolicyData" value="{{insurancePolicyNo?.schemeId}}">{{insurancePolicyNo.schemeId}}</option>
        </select>
        <form [formGroup]="deleteInsurancePolicy" (ngSubmit)="deleteInsurancePolicyData(deleteInsurancePolicy.value)" class="example-form">
            <input class="form-control" type="hidden" formControlName="policyNo" [(ngModel)]="policy.policyNo"  placeholder="policyNo"><br>
            <input class="form-control" type="datetime" formControlName="issueDate" [(ngModel)]="policy.issueDate" placeholder="issueDate"><br>
            <input class="form-control" type="datetime" formControlName="maturityDate" [(ngModel)]="policy.maturityDate" placeholder="maturityDate"><br>
            <input class="form-control" type="text" formControlName="premiumType" [(ngModel)]="policy.premiumType" placeholder="premiumType"><br>
            <input class="form-control" type="number" formControlName="premiumAmount" [(ngModel)]="policy.premiumAmount" placeholder="premiumAmount"><br>
            <input class="form-control" type="number" formControlName="sumAssured" [(ngModel)]="policy.sumAssured" placeholder="sumAssured"><br>
            <input class="form-control" type="text" formControlName="status" [(ngModel)]="policy.status" placeholder="status"><br>
            <input class="form-control" type="number" formControlName="schemeId" [(ngModel)]="policy.schemeId" placeholder="Scheme Id"><br>
            <input class="form-control" type="number" formControlName="claimId" [(ngModel)]="policy.claimId" placeholder="claimId"><br>
            <input class="form-control" type="number" formControlName="paymentId" [(ngModel)]="policy.paymentId" placeholder="paymentId"><br>
            
            <input class="form-check-input" type="radio" formControlName="isActive" value="true" checked>&nbsp;True&nbsp;
            <input class="form-check-input" type="radio" formControlName="isActive" value="false">&nbsp;False<br><br>
            <button>Delete</button>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'" style="padding: 30px;">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary">Save</button>

    </mat-dialog-actions>
</div>




